{% extends "base.html" %} {% block title %}Home - Smart Waste Management
System{% endblock %} {% block content %}
<section id="home">
 <style>
        body {
            background-image: url('1.jpg');
            background-size: cover; /* Ensure the image covers the entire background */
        }
    </style>
  <body>
    <h2>Welcome to the Smart Waste Management System</h2>
    <p>Your solution to efficient waste management and recycling tracking.</p>
  </body>

</section>
{% endblock %}
